*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 50%, rgba(148,187,233,1) 67%);
}

.container {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 43%, rgba(252,70,107,1) 72%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 100px auto;
    padding: 20px;
    width: 60vw;
    display: block;
}

.container::after {
    content: " ";
    display: block;
    clear: both;
  }

#quiz-container {
    text-align: center;
    margin-top: 50px;
}
#timer {
    font-size: 24px;
    margin-bottom: 20px;
}
#question {
    font-size: 20px;
    margin-bottom: 20px;
}
#options {
    margin-bottom: 20px;
    color:black
}

.optns {
  padding: 5px;
  margin: 5px 5px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 50%, rgba(148,187,233,1) 67%);
}

#start-btn, #restart-btn, #submit-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
#highs-score {
    font-size: 20px;
    margin-bottom: 20px;
}